doctype html
div.container
	div.left
		div.profile
			div.profile__img
			span.profile__name name here
			span.profile__surname surname 
			span.profile__post graphic designer
		
		div.block
			div.block__title.left__title.left__profile
				img(src=require("../icons/EDUCATION.svg")).block__title-icon.left__title-icon
				span.block__title-name.left__title-name profile
			p.left__desc.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus 
				lacinia iaculis diam. Suspendisse pulvinar suscipit quam, dictum hendrerit
				mauris interdum quis. Ut metus ligula, luctus quis dolor sed, maximus
				pulvinar arcu. Mauris felis mauris, imperdiet nec interdum vel,
				fermentum at urna. Aliquam porta ornare mauris, quis fermentum augue
				semper hendrerit. Duis in commodo nisl. Proin id tempor lectus.
				Donec imperdiet eros sit amet velit suscipit pharetra.
				#[span Curabitur dignissim, erat in aliquet iaculis, urna orci commodo libero, id rhoncus justo dolor eget ligula. Maecenas eu facilisis magna. Sed dictum tellus a dolor tincidunt tempor. Nulla condimentum condimentum rhoncus. Integer ut justo nunc. Ut nec massa lorem. Integer ut justo nunc. Ut nec massa lorem.]
				
		div.block
			div.block__title.left__title.left__contact
				img(src=require("../icons/EDUCATION.svg")).block__title-icon.left__title-icon
				span.block__title-name.left__title-name contact
			div.contact__container
				- var contactName = ['address', 'e-mail', 'phone', 'website']
				ul.contact__container-name
					each item in contactName
						li= item
				- var contactData = ['Main Street, City.', 'contact@domain.com', '555-555-555', 'www.yourweb.com']
				ul.contact__container-data
					each item in contactData
						li= item
						
		div.block
			div.block__title.left__title.left__skills
				img(src=require("../icons/EDUCATION.svg")).block__title-icon.left__title-icon
				span.block__title-name.left__title-name Skills
			div.skills__container
				h1.skills__container-name creative
				div.skills__container-circle
					- for(i = 0; i < 12; i++)
						if i < 9
							span
						else
							span.skills__container-circle_color
			div.skills__container
				h1.skills__container-name teamwork
				div.skills__container-circle
					- for(i = 0; i < 12; i++)
						if i < 11
							span
						else
							span.skills__container-circle_color
			div.skills__container
				h1.skills__container-name innovate
				div.skills__container-circle
					- for(i = 0; i < 12; i++)
						if i < 6
							span
						else
							span.skills__container-circle_color
			div.skills__container
				h1.skills__container-name communication
				div.skills__container-circle
					- for(i = 0; i < 12; i++)
						if i < 11
							span
						else
							span.skills__container-circle_color
	
	div.right
		div.block
			div.block__title
				img(src=require("../icons/EDUCATION.svg")).block__title-icon
				span.block__title-name education
			- for (var x = 0; x < 4; x++)
				div.block__content
					span.block__content-title master degree 
						span // feb 2011 - jun 2014
					span.block__content-name university name
					p.block__content-desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Cras semper auctor neque vitae tempus quam pellentesque nec nam.
						Enim nunc faucibus a pellentesque sit amet porttitor.
											
		div.block.block__exp
			div.block__title
				img(src=require("../icons/EDUCATION.svg")).block__title-icon
				span.block__title-name experience
			- for (var x = 0; x < 3; x++)
				div.block__content.block__content-exp
					span.block__content-title.block__content-title-exp company name
						span // feb 2011 - jun 2014
					span.block__content-name your job here
					p.block__content-desc.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Cras semper auctor neque vitae tempus quam pellentesque nec nam.
						Enim nunc faucibus a pellentesque sit amet porttitor.
						
		div.block.block__software
			div.block__title
				img(src=require("../icons/EDUCATION.svg")).block__title-icon
				span.block__title-name software
		div.block__software-content
			div.block__software-content-elem
				h1 photoshop
				span
			div.block__software-content-elem
				h1 illustrator
				span
			div.block__software-content-elem
				h1 indesign
				span
			div.block__software-content-elem
				h1 dreamweaver
				span
			div.block__software-content-elem
				h1 after effects
				span
			div.block__software-content-elem
				h1 html&css
				span
						
				 	
					
